body {
    background-color: #bbddb2;
    background-image: url(../images/background-main-page.jpg);
    background-size: cover;
    margin-left: 3%;
    margin-right: 3%;
    
}

a {
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.flex-container{
    display: flex;
    height: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    height: fit-content;
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
    border-style: outset;

    font-size: 20px;
    width: 100px;
    height: 40px;

    background-color: rgb(15, 136, 6);
    transition-duration: 0.3s;
}
.menu-button:hover{
    background-color: rgb(143, 25, 186); 
    box-shadow: 0px 0px 12px rgb(143, 25, 186);
}

#shopping-cart{
    display: flex;


    border-radius: 30px;
    border-style: outset;
    background-color: rgb(15, 136, 6);
}

#shopping-cart:hover{
    background-color: rgb(143, 25, 186); 
    box-shadow: 0px 0px 12px rgb(143, 25, 186);
}

