.flex-container > select {
    border: none;
    margin: 5px;
    margin-left: 0;
    outline: none;

    padding: 2px;
}

button{
    background-color:rgb(183, 43, 226);
    cursor: pointer;
    width: 130px;
    height: 30px;
    font-size: 15px;
    margin-top: 10px;
}

body{
    background-color: rgb(255, 255, 255);
    background-image: url(../images/register-background.webp);
    background-size: cover;
    color:#dab8f9;
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
}

.flex-container > div{
    margin-top: 3px;
}

.flex-container > input{
    border: none;
    margin: 4px;
    margin-left: 0;

    padding: 3px;
}

.flex-container > input:focus, input:hover{
    background-color: rgb(183, 171, 171);
    outline: none;
}

